# Ignore virtual environments
venv/
__pycache__/
*.log

# Ignore config files (security reasons)
.env
config.json
token.txt

# Ignore large files
*.mp4
*.mp3
*.zip
*.tar
node_modules/

#ignore bot token
.env